<div id="link-toppage" class="main-visual">
	<div class="container">
		<p class="vertical-writing fadein-write">家計簿を</h1>
		<p class="vertical-writing2 fadein-write">共有して</p>
    <p class="vertical-writing3 fadein-write">みませんか？</p>
    <div class="background-opacity"></div>
    <div class="hover-button">
      <div class="button-eff"></div>
      <%=link_to "ログイン",  new_user_session_path, class: "block-button" %>
    </div>
    <div class="hover-button2">
      <div class="button-eff2"></div>
      <%=link_to "新規登録",  new_user_registration_path, class: "block-button" %>
    </div>
	</div>
</div>
<!-- aboutパーシャル ここから-->
<%= render "about" %>
<!-- サインアップのパーシャル -->
<%= render "signup" %>
<!-- ログインのパーシャル -->
<%= render "login" %>