<% if @variable_cost.errors.any? %>
  <div class="alert alert-danger">
    <p><strong><%= pluralize(@variable_cost.errors.count, "件") %> の未入力があります。</strong></p>
    <ul>
      <% @variable_cost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div data-step="1" data-intro="こちらから、支出の記録ができます！" data-position="right">
  <%= form_for @variable_cost do |f| %>
    <%= f.label :price, "使った金額" %>
    <%= f.text_field :price, class: "form-control" %>
    <%= f.label :category_id, "カテゴリーを選択" %>
    <%= f.collection_select :category_id,
      Category.where(user_id: current_user.id)
      .or(Category.where(status: 1)), :id, :category,{},
    {class: "form-control"} %>
    <%= f.label :opinion, "内容" %>
    <%= f.text_area :opinion, placeholder: "詳細情報を記入。必須ではありません。", class: "form-control" %>
    <div style="clearfix">
      <%= f.label :payment_day, "日付" %>
    </div>
    <%= f.date_select :payment_day, { default: Date.today }, class: "form-control bootstrap-date" %>
    <div class="custom-file my-2">
      <%= f.attachment_field :cost_image, class: "custom-file-input", id: "file" %>
      <label class="custom-file-label" for="file" data-browse="参照">ファイル選択...</label>
    </div>
    <div id="img_field" onClick="$('#file').click()" ></div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.label :address, "使った場所" %>
    <%= f.text_field :address, placeholder: "使った場所を入力。", class: "form-control" %>
    <%= f.submit "投稿", class: "form-control btn btn-warning my-2" %>
  <% end %>
</div>