<div class="nested-fields">
  <div class="form-group">
    <div class="field">
      <%= f.label :fixed_cost_price, "金額" %>
      <%= f.text_field :fixed_cost_price, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :fixed_cost_time, "支払日" %>
      <%= f.date_select :fixed_cost_time, { default: Date.today }, class: "form-control bootstrap-date" %>
    </div>

    <div class="text-right">
      <%= link_to_remove_association "削除", f, class: "btn btn-danger btn-sm my-1" %>
    </div>
  </div>
</div>