<div class="row user-backgroud mb-5">
	<div class="col-sm-3">
		<%= render 'profile_bar' %>
	</div>


	<div class="col-sm-6">
		<div class="card px-3 mb-3">
			<%= month_calendar events: @variable_costs do |date, variable_costs| %>
			  <%= date.day %>
			  <% sum = 0 %>
				  <% variable_costs.each do |variable_cost| %>
			    <div>
			      <% sum = sum + variable_cost.price %>
			    </div>
				 <% end %>
			  <% if sum != 0 %>
				  <%= sum %>
				<% end %>
			<% end %>
		</div>
		<div class="card px-3 mb-3 pb-3">
			<div class="col-12 btn btn-outline-dark my-3">支出一覧　(暫定)</div>
			<div class="row">
				<% @variable_costs.each do |v| %>
					<div class="col-sm-6">
						<%= link_to v, class: "variable-card-box" do %>
						<div class="card variable-card my-2">
							<div class="card-body">
								<div class="card-text">
									<ul class="list-group list-group-flush">
										<li class="list-group-item">カテゴリー：<%= v.category.category %></li>
										<li class="list-group-item">金額：￥<%= number_with_delimiter(v.price) %></li>
										<li class="list-group-item">詳細：<%= v.opinion %></li>
										<li class="list-group-item">支払日：<%= v.payment_day.strftime('%Y/%m/%d') %></li>
									</ul>
									<%= link_to "削除", variable_cost_path(v.id), method: :delete, class:"btn btn-secondary btn-sm my-1" %></p>
									<p></p>
								</div>
							</div>
						</div>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
			<%= render 'simple_calendar/chart_data' %>
		<div class="container">
			<div class="card">
				<div class="card-body text-center">
					<div><%= render 'incomes/new_modal' %></div>
					<% if @income_price.present? && balance_price < 0 %>
						<div class="card-title">今月の給料</div>
						<div class="card-text">￥<%= number_with_delimiter(@income_price.income) %></div>
						<div class="card-title">今月の残額</div>
						<h2 class="card-text">￥<span class="text-danger"><%= number_with_delimiter(balance_price) %></span></h2>
					<% elsif @income_price.present? %>
					<div class="card-title">今月の給料</div>
						<div class="card-text">￥<%= number_with_delimiter(@income_price.income) %></div>
						<div class="card-title">今月の残額</div>
						<div class="card-text">￥<%= number_with_delimiter(balance_price) %></div>
					<% else %>
						<div class="card-title">今月の給料</div>
						<div class="card-text">登録はまだありません。</div>
					<% end %>
				</div>
			</div>

			<div class="card my-2">
				<div class="card-body">
					<div class="card-title">カテゴリー</div>
					<div class="card-text">
						<ul class="list-group list-group-flush">
							<% @categories.each do |category,count| %>
							<li class="list-group-item">
								<%= category %>(<%= count %>)
							</li>
							<% end %>
						</ul>
						<div><%= render 'categories/category_modal' %></div>
					</div>
				</div>
			</div>

			<div class="card my-2">
				<div class="card-body">
					<div class="card-title">固定費用</div>
					<div class="card-text">
						<ul class="list-group list-group-flush">
							<% @fixed_costs.each do |fixed_cost| %>
							<li class="list-group-item">
								<%= fixed_cost.fixed_cost_price %>
							</li>
							<% end %>
						</ul>
						<div><%= render 'fixed_costs/fixed_cost_edit' %></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>