<div class="container">
 <div class="card px-3 mb-3 pb-3">
      <div class="col-12">
        <h2 class="variable-user-index pt-3"><%= @category.category %>の一覧</h2>
      </div>
        <div class="row">
          <% @categories.each do |category| %>
            <div class="col-sm-6">
              <%= link_to category, class: "variable-card-box" do %>
                <div class="card variable-card variable-fade my-2">
                  <div class="card-body">
                    <div class="card-text">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">カテゴリー：<%= category.category.category %></li>
                        <li class="list-group-item">金額：￥<%= number_with_delimiter(category.price) %></li>
                        <li class="list-group-item">支払日：<%= category.payment_day.strftime('%Y/%m/%d') %></li>
                      </ul>
                      <%= link_to "削除", variable_cost_path(category.id), method: :delete, class:"offset-9 btn btn-secondary btn-sm my-1" %></p>
                      <p></p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
    </div>
</div>