<!DOCTYPE html>
<html>
  <head>
    <title>WithKakeibo</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      $(function(){
        $('.variable-fade').fadeMover();
      });
    </script>
  </head>

  <body style="background-color: #f6f8fa">
    <div class="container-fluid">
      <%= flash[:notice] %>
      <%= render 'shared/header' %>
      <%= yield %>
    </div>
  </body>
</html>
